APP_NAME=Widgetis
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:9002

LOG_CHANNEL=stack
LOG_STACK=daily
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=widgetis
DB_USERNAME=widgetis
DB_PASSWORD=secret

CACHE_STORE=redis
SESSION_DRIVER=redis
QUEUE_CONNECTION=redis

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log

JWT_SECRET=

R2_PUBLIC_URL=https://cdn.widgetis.com
