parameters:
	ignoreErrors:
		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 3
			path: app/Http/Controllers/Api/V1/Profile/SiteController.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Http/Controllers/Api/V1/Profile/SiteController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Site\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/SiteController.php

		-
			message: '#^Return type of call to method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Site\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: method.unresolvableReturnType
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/SiteController.php

		-
			message: '#^Using nullsafe property access "\?\-\>max_sites" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/SiteController.php

		-
			message: '#^Using nullsafe property access "\?\-\>slug" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/SiteController.php

		-
			message: '#^Cannot call method toDateString\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/SubscriptionController.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Resources/Api/V1/SubscriptionResource.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 4
			path: app/Http/Resources/Api/V1/SubscriptionResource.php

		-
			message: '#^Cannot call method diffInDays\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/Subscription.php

		-
			message: '#^Cannot call method addMonth\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Billing/SubscriptionService.php

		-
			message: '#^Cannot call method addYear\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Billing/SubscriptionService.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Services/Billing/SubscriptionService.php

		-
			message: '#^Using nullsafe property access "\?\-\>max_sites" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Site/SiteService.php

		-
			message: '#^Using nullsafe property access "\?\-\>max_widgets" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Site/SiteService.php
