parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Models\\SocialAccount::user\(\) should return#'
			identifier: return.type
			count: 1
			path: app/Models/SocialAccount.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/DashboardController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Order\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/DashboardController.php

		-
			message: '#^Return type of call to method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Order\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: method.unresolvableReturnType
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/DashboardController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type string\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/DashboardController.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/OrderController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,App\\Models\\Order\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/OrderController.php

		-
			message: '#^Return type of call to method Illuminate\\Support\\Collection\<int,App\\Models\\Order\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: method.unresolvableReturnType
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/OrderController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type string\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/OrderController.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Http/Controllers/Api/V1/Admin/SiteController.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Http/Controllers/Api/V1/Admin/SiteController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,App\\Models\\Site\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/SiteController.php

		-
			message: '#^Return type of call to method Illuminate\\Support\\Collection\<int,App\\Models\\Site\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: method.unresolvableReturnType
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/SiteController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type string\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Http/Controllers/Api/V1/Admin/SiteController.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/SubscriptionController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,App\\Models\\Subscription\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/SubscriptionController.php

		-
			message: '#^Return type of call to method Illuminate\\Support\\Collection\<int,App\\Models\\Subscription\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: method.unresolvableReturnType
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/SubscriptionController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type string\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/SubscriptionController.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/UserController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,App\\Models\\User\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/UserController.php

		-
			message: '#^Return type of call to method Illuminate\\Support\\Collection\<int,App\\Models\\User\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: method.unresolvableReturnType
			count: 1
			path: app/Http/Controllers/Api/V1/Admin/UserController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Controllers/Api/V1/Auth/AuthController.php

		-
			message: '#^Using nullsafe property access "\?\-\>name" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Http/Controllers/Api/V1/Auth/AuthController.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/DashboardController.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/DashboardController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\ActivityLog\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/DashboardController.php

		-
			message: '#^Return type of call to method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\ActivityLog\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: method.unresolvableReturnType
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/DashboardController.php

		-
			message: '#^Using nullsafe method call on non\-nullable type string\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/DashboardController.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/NotificationController.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/NotificationController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,App\\Models\\AppNotification\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/NotificationController.php

		-
			message: '#^Return type of call to method Illuminate\\Support\\Collection\<int,App\\Models\\AppNotification\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: method.unresolvableReturnType
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/NotificationController.php

		-
			message: '#^Using nullsafe method call on non\-nullable type string\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/NotificationController.php

		-
			message: '#^Using nullsafe property access on non\-nullable type string\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/NotificationController.php

		-
			message: '#^Using nullsafe property access "\?\-\>max_widgets" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/ProfileController.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 3
			path: app/Http/Controllers/Api/V1/Profile/SiteController.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Http/Controllers/Api/V1/Profile/SiteController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Site\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/SiteController.php

		-
			message: '#^Return type of call to method Illuminate\\Database\\Eloquent\\Collection\<int,App\\Models\\Site\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: method.unresolvableReturnType
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/SiteController.php

		-
			message: '#^Using nullsafe property access "\?\-\>max_sites" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/SiteController.php

		-
			message: '#^Using nullsafe property access "\?\-\>slug" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Http/Controllers/Api/V1/Profile/SiteController.php

		-
			message: '#^Cannot call method toDateString\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Http/Controllers/Api/V1/Profile/SubscriptionController.php

		-
			message: '#^Cannot access property \$value on string\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Resources/Api/V1/SubscriptionResource.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 4
			path: app/Http/Resources/Api/V1/SubscriptionResource.php

		-
			message: '#^Cannot call method diffInDays\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Models/Subscription.php

		-
			message: '#^Cannot call method addMonth\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Billing/SubscriptionService.php

		-
			message: '#^Cannot call method addYear\(\) on string\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Services/Billing/SubscriptionService.php

		-
			message: '#^Cannot call method toIso8601String\(\) on string\.$#'
			identifier: method.nonObject
			count: 2
			path: app/Services/Billing/SubscriptionService.php

		-
			message: '#^Using nullsafe property access "\?\-\>max_sites" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Site/SiteService.php

		-
			message: '#^Using nullsafe property access "\?\-\>max_widgets" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/Site/SiteService.php
