.cabinet {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  position: relative;
}

.cabinet__content {
  flex: 1;
  padding-top: var(--topbar-h);
  padding-bottom: var(--bottomnav-h);
  overflow-y: auto;
}

.cabinet__content--embedded-header {
  padding-top: 0;
}
